langchain
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-ollama
langchain-google-genai
sentence-transformers
langchain-qdrant
qdrant-client
pymupdf
gradio
ollama
python-dotenv
playwright
html2text
rank-bm25
langchain-google-genai
google-generativeai